@import'https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext';

html{font-size:130%;} 
@media(min-width:60em){html{font-size: 100%}}

body {
  background-color: #1A1A1A;
  font-family: Open Sans;
  color: #f7f7f7;
  margin: 0
}

main {
  margin: auto;
  width: 90%;
  position: absolute;
  left: 5%;
  pointer-events: none;
}

main a {
  float: left;
  pointer-events: all;
}

main address {
  float: right;
  pointer-events: all;
  transform: translate(0, 3em);
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  font-size: 5em;
  text-decoration: none;
  color: inherit
}

canvas {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}
